@media(max-width:30rem){
    
    body{
        position: relative;
    }

    .main{
        width: 32rem;
        left: calc(50% - 16.5rem);
        top: 7rem;
    }

    input{
        width: 29rem;
    }

    .btn-clean{
       width: 13rem !important; 
    }
}